//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* ===============================
   FONT IMPORT
   =============================== */

@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque:300,regular,500,600,700,800,900);


/* ===============================
   CORE COLOR PALETTE
   =============================== */
    $bomull-light: #FFFFEB;
    $bomull:  #FFFFDE;
    $bomull-dark: #E4E4A0;

    $ull-light: #FFFFFF;
    $ull:     #EAE6F4;
    $ull-dark: #D3CDE0;

    $organza-light: #E3E6F4;
    $organza: #C6C3E1;
    $organza-dark: #A8A3C8;
    
    $linne-light:  #DCE7B7;
    $linne:   #D3E18D;
    $linne-dark:  #B2B74F;

    $silke-light: #ED91C2;
    $silke: #E578B7;
    $silke-dark:  #D24992;

    $sammet-light:  #B0277C;
    $sammet:  #7D0E61;
    $sammet-dark:  #50053D;

    $lader-light: #432A2A;
    $lader:   #1C0F0F;
    $lader-dark:  #000000;

/* ===============================
   DESIGN TOKENS
   =============================== */

    // Surface tokens
    $surface-background: $ull;
    $surface-primary:    $organza;
    $surface-secondary:  $bomull;
    $surface-tertiary:   $linne;

    $surface-CTA-light:  $silke-light;
    $surface-CTA:        $silke;
    $surface-CTA-dark:   $silke-dark;

    $surface-invert-less:      $sammet-light;
    $surface-invert:           $sammet;
    $surface-invert-dark:      $sammet-dark;

    // Text tokens
    $text-darkened:   $lader-dark;
    $text-primary:       $sammet;
    $text-invert:      $ull;

    $text-CTA-light:  $silke-light;
    $text-CTA:        $silke;
    $text-CTA-dark:   $silke-dark;


/* ===============================
   TYPOGRAPHY
   =============================== */



/* ===============================
   BREAKPOINT VARIABLES
   =============================== */

$breakpoint-mobile: 375px;   // small phones
$breakpoint-tablet: 768px;   // iPads, small laptops
$breakpoint-desktop: 1280px; // large screens


