@import 'base.scss';
@import 'typography.scss';
@import 'animations.scss';
@import 'layout.scss';
@import 'main.scss';

body {
    background-color: $surface-background;
    //temp height
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Darker Grotesque', sans-serif;
    color: $text-primary;
}

.preamble{
    font-weight: 700;
}

.container{
    min-width: 100vw;
    display:flex;
    flex-direction: column;
    gap: 1.25rem;

   .hero{
        position: relative;
        margin-top: 4rem;

        @media (max-width: $breakpoint-tablet){
            margin-top: 4rem;
        }

        .hero-background{
            background-size: cover;
            width: 100%;
            height: auto;
        } 

        .hero-banner {
            width: 100%;
            position: absolute;
            z-index: 998;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);


        }
        
   }

   .kommande-events{
    padding: 0rem 1rem;

        h2{
            padding: 2.375rem 0rem;
            
        }

        .cards-events{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;

            .card-events{
                display: flex;
                gap: 1rem;
                background-color: $surface-primary;
                padding:2.5rem ;
                width: 100%;


                img{
                    width: 30%;
                    align-self: strech;
                
                }

                
                .card-text{
                    display: flex;
                    flex-direction: column;
                    align-content: flex-start;
                    gap: 0.5rem;

                    .card-text-top{
                        display: flex;
                        flex-direction: column;
                        align-content:flex-start;
                        gap: 0.5rem;

                    }

                    .card-text-bottom{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .card-info{
                            max-width: 474px;
                            display: flex;
                            flex-direction: column;
                            align-content: flex-start;
                            gap: 1.5rem;
                        }

                        .card-buttons{
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;

                            button{
                                border: none;
                                padding: 0.5rem;
                                color: $text-primary;
                            }
                            .buttons-pink{
                                background-color: $silke-light;
                            }
                            .buttons-yellow{
                                background-color: $linne;
                            }
                        }

                    }
        
                }

            }
                
        }
    }
   .little-message{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;

    > * {
    grid-area: 1 / 1; 
}

        .image{
            z-index: 1;

            img{
            width: 100%; 
            height: auto;
            margin: 10% 0 0 5%;
            }
        }

        .message-text{
            width: 100%;
            padding:11rem 4rem 10rem 6rem;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            h2, 
            p,
            a{
                text-align: center;
            }
           
            a{
                font-size: 20px;
                color: $text-primary;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: none;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
                text-underline-position: from-font;
            }
        }
        
   }
}

   