@import 'base.scss';
@import 'typography.scss';
@import 'animations.scss';

body {
    background-color: $surface-background;
    //temp height
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Darker Grotesque', sans-serif;
    color: $text-primary;
}

.preamble{
    font-weight: 700;
}

.container{
    min-width: 100vw;
    display:flex;
    flex-direction: column;
    gap: 1.25rem;

   .hero{
        position: relative;

        .hero-background{
            background-size: cover;
            width: 100%;
            height: auto;
        } 

        .hero-banner {
            width: 100%;
            position: absolute;
            z-index: 999;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        
        }
        
   }

   .kommande-events{
    padding: 0rem 1rem;

    h2{
        padding: 2.375rem 0rem;
        
    }

    .cards-events{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 1rem;


        .card-events{
            background-color: $surface-primary;
            display: flex; 
            flex-wrap: wrap;
            gap: 1.25rem;
            padding: 1rem;
            align-items: stretch;

            img{
                max-width: 100%;
                height: auto;
            }

            .card-text{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                p{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                }

                .text-bottom{
                    display: flex;
                    justify-content: space-between;

                    button{
                        background-color: $surface-primary;
                        border: none;
                    }
                }
            }
            
        }
    }

   }
   .little-message{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;

    > * {
    grid-area: 1 / 1; 
}

        .image{
            z-index: 1;

            img{
            width: 100%; 
            height: auto;
            margin: 10% 0 0 5%;
            }
        }

        .message-text{
            width: 100%;
            padding:11rem 4rem 10rem 6rem;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            h2, 
            p,
            a{
                text-align: center;
            }
           
            a{
                font-size: 20px;
                color: $text-primary;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: none;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
                text-underline-position: from-font;
            }
        }
        
   }
}

   