@import 'base.scss';
@import 'typography.scss';
@import 'animations.scss';

body {
    background-color: $surface-background;
    //temp height
    min-height: 100vh;
    font-family: 'Darker Grotesque', sans-serif;
    color: $text-primary;
}

.preamble{
    font-weight: 700;
}

.container{
    width: auto;
    display:flex;
    flex-direction: column;
    gap: 1.25rem;

   .hero{
        .box{
            min-width: 100vh;
            height: 710px;
            background-color: blue;
        }
   }

   .kommande-events{
    padding: 0rem 1rem;

    h2{
        padding: 2.375rem 0rem;
        
    }

    .cards-events{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 1rem;


        .card-events{
            background-color: $surface-primary;
            display: flex; 
            flex-wrap: wrap;
            gap: 1.25rem;
            padding: 1rem;

            img{
                max-width: 100%;
                height: auto;
            }

            .card-text{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                

                .text-bottom{
                    display: flex;
                    justify-content: space-between;

                    button{
                        background-color: $surface-primary;
                        border: none;
                    }
                }
            }

            
        }
    }

   }

}