@import 'base.scss';
@import 'typography.scss';
@import 'animations.scss';


.navigation-top {
    position: fixed;
    background-color: $surface-background;
    color: $text-primary;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
    .ul-wrapper{
        display: flex;
        list-style: none; 
        gap: 1.5rem;
        .icon{
            display: none;
        }
        li{
            a{
                text-decoration: none;
                color: $text-primary;
                font-weight: 700;
                font-size: 20px;
                &:hover{
                    color: $text-CTA;
                    
                }
            }
    }
    }
}

footer{
    width: 100vw; 
    height: auto;
    background-size: cover;
    background-image: url('../img/illustrations/footer.svg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    
    .information-left{
        display: flex;
        flex-direction: column;
        align-content: start;
        gap: 6rem;
        padding: 5% 0;

        .info-top{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a{
                color: $text-primary;
                text-decoration: none;
            }
        }
    }

    .information-right{
        display: flex;
        flex-direction: column;
        align-content: start;
        gap: 6rem;
        padding: 5% 1%;

        p{
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            text-transform: uppercase;
        }
    }

   }

