@import 'base.scss';
@import 'typography.scss';
@import 'animations.scss';

body {
    background-color: $surface-background;
    //temp height
    min-height: 100vh;
    font-family: 'Darker Grotesque', sans-serif;
}

.navigation-top {
    position: fixed;
    background-color: $surface-background;
    color: $text-primary;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 10;
    .ul-wrapper{
        display: flex;
        list-style: none; 
        gap: 1.5rem;
        li{
            a{
                text-decoration: none;
                color: $text-primary;
                font-weight: 700;
                font-size: 20px;
                &:hover{
                    color: $text-CTA;
                    
                }
            }
    }
    }
}

.hero-start{
    position: relative;
    .hero-image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    transition: opacity 0.3s ease-in-out;
    }
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
    color:  $text-invert;
    }
    h5{
    color:  $text-invert;
    }

    .hero-text-wrapper{
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        .hero-inner-text-wrapper-top{
            text-align: center;
        }
        .hero-inner-text-wrapper-bottom{
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            width: 100%;
            

        }
    }
}
