@import 'base.scss';
@import 'typography.scss';
@import 'animations.scss';
@import 'layout.scss';



body {
    background-color: $surface-background;
    //temp height
    min-height: 100vh;
    font-family: 'Darker Grotesque', sans-serif;
    overflow-x: hidden;
}

.hero-start{
    position: relative;
    min-height: 100vh;
    max-height: 100vh;
    .hero-image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    transition: opacity 0.3s ease-in-out;
    }
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
    color:  $text-invert;
    }
    h5{
    color:  $text-invert;
    }

    .hero-text-wrapper{
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        .hero-inner-text-wrapper-top{
            text-align: center;
        }
        .hero-inner-text-wrapper-bottom{
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            width: 100%;
            

        }
    }
}



.main-start-card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    .main-start-card{
        
        padding-top: 8rem;
        padding-bottom: 8rem;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        .main-start-card-text-box {
            margin: 5rem, 5rem;
        svg {
            width: 100%;
            height: auto;
        }

        text {
            fill: $text-primary;
        }

        textPath {
            transition: all 0.3s ease;
        }
}
}
}

.main-start-membership{
    width: 100vw;
    position: relative;
    height: 90vh;
    // background-image: url('/assets/img/illustrations/arms.svg');
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    // overflow: visible;

    .main-start-membership-arm-left{
        // display: none;
        position: absolute;
        left: -50%;
        top: 20%;
    }
    .main-start-membership-arm-right{
        // display: none;
        position: absolute;
        right: -200%;
        bottom: -30%;

    }
    .main-start-membership-text-box{
        position: absolute;
        top: 40%;
        left: 15%;
        color: $text-primary; 
        max-width: 35vw;

       .read-more{
        display: flex;
        justify-content: center;
        align-items: center;   
        gap: 0.75rem;
        color: $text-primary;
        background-color: $surface-CTA;
        border: none;
        font-size: 20px;
        font-weight: 700;
        padding: 0.75rem 1.25rem;
        margin-top: 2rem;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
       }
    }
}

.main-start-upcoming-events{
    .main-start-upcoming-events-text-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            color: $text-primary;
        }
    .see-all{
        display: flex;
        justify-content: center;
        align-items: center;   
        gap: 0.75rem;
        color: $text-primary;
        background-color: $surface-background;
        border: none;
        font-size: 20px;
        font-weight: 700;
        padding: 0.75rem 1.25rem;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
    }
    .main-start-upcoming-events-card-wrapper{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;

        .main-start-upcoming-events-card{
            background-color: $surface-primary;
            padding: 1.25rem;
            color: $text-primary;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            
            
            .main-start-upcoming-events-card-text-box{

            min-height: 0;
            }
            
            p{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        

            .main-start-upcoming-events-card-text-box-bottom{
                display: flex;
                justify-content: left;
                gap: 0.75rem;
                align-items: center;
                padding: 0.75rem 0;
            }

        }
    }
}

.footer-start{
    width: 100vw; 
    height: auto;
    background-size: cover;
    background-image: url('../img/illustrations/footer.svg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    
    .information-left{
        display: flex;
        flex-direction: column;
        align-content: start;
        gap: 6rem;
        padding: 5% 0;

        .info-top{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a{
                color: $text-primary;
                text-decoration: none;
            }
        }
    }

    .information-right{
        display: flex;
        flex-direction: column;
        align-content: start;
        gap: 6rem;
        padding: 5% 1%;

        p{
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            text-transform: uppercase;
        }
    }

   }



.kommision-card{
background-image: url(/assets/img/pictures/kommision-card-picture.png);
}
.event-card{
background-image: url(/assets/img/pictures/event-card-picture.png);
}
.collab-card{
background-image: url(/assets/img/pictures/samarbete-card-pic.png);
}